[submodule "lib/openzeppelin-contracts-v4"]
	path = lib/openzeppelin-contracts-v4
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts-upgradeable-v4"]
	path = lib/openzeppelin-contracts-upgradeable-v4
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
